# Global owners
* @your-github-username

# Provider-specific
/aws/       @gabrieljimenez7272
/azure/     @gabrieljimenez7272
/gcp/       @gabrieljimenez7272
/m365/      @gabrieljimenez7272
/entra-id/  @gabrieljimenez7272
